In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score
from sklearn.preprocessing import OneHotEncoder
import warnings; warnings.filterwarnings("ignore")

In [2]:
car = pd.read_csv('/content/quikr_car.csv')
car.head()

,name,company,year,Price,kms_driven,fuel_type
0,Hyundai Santro Xing XO eRLX Euro III,Hyundai,2007,"80,000","45,000 kms",Petrol
1,Mahindra Jeep CL550 MDI,Mahindra,2006,"4,25,000",40 kms,Diesel
2,Maruti Suzuki Alto 800 Vxi,Maruti,2018,Ask For Price,"22,000 kms",Petrol
3,Hyundai Grand i10 Magna 1.2 Kappa VTVT,Hyundai,2014,"3,25,000","28,000 kms",Petrol
4,Ford EcoSport Titanium 1.5L TDCi,Ford,2014,"5,75,000","36,000 kms",Diesel

In [3]:
car.shape

(892, 6)

In [4]:
car.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 892 entries, 0 to 891
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        892 non-null    object
 1   company     892 non-null    object
 2   year        892 non-null    object
 3   Price       892 non-null    object
 4   kms_driven  840 non-null    object
 5   fuel_type   837 non-null    object
dtypes: object(6)
memory usage: 41.9+ KB

- Year has many non year objects
- fuel_type and kms_driven have nan values
- Price and kms_driven should be converted to int
- the word "kms" should be removed from kms_driven column
- keep only 3 words of the name column

In [5]:
car["year"].unique()

array(['2007', '2006', '2018', '2014', '2015', '2012', '2013', '2016',
       '2010', '2017', '2008', '2011', '2019', '2009', '2005', '2000',
       '...', '150k', 'TOUR', '2003', 'r 15', '2004', 'Zest', '/-Rs',
       'sale', '1995', 'ara)', '2002', 'SELL', '2001', 'tion', 'odel',
       '2 bs', 'arry', 'Eon', 'o...', 'ture', 'emi', 'car', 'able', 'no.',
       'd...', 'SALE', 'digo', 'sell', 'd Ex', 'n...', 'e...', 'D...',
       ', Ac', 'go .', 'k...', 'o c4', 'zire', 'cent', 'Sumo', 'cab',
       't xe', 'EV2', 'r...', 'zest'], dtype=object)

In [6]:
car["kms_driven"].unique()

array(['45,000 kms', '40 kms', '22,000 kms', '28,000 kms', '36,000 kms',
       '59,000 kms', '41,000 kms', '25,000 kms', '24,530 kms',
       '60,000 kms', '30,000 kms', '32,000 kms', '48,660 kms',
       '4,000 kms', '16,934 kms', '43,000 kms', '35,550 kms',
       '39,522 kms', '39,000 kms', '55,000 kms', '72,000 kms',
       '15,975 kms', '70,000 kms', '23,452 kms', '35,522 kms',
       '48,508 kms', '15,487 kms', '82,000 kms', '20,000 kms',
       '68,000 kms', '38,000 kms', '27,000 kms', '33,000 kms',
       '46,000 kms', '16,000 kms', '47,000 kms', '35,000 kms',
       '30,874 kms', '15,000 kms', '29,685 kms', '1,30,000 kms',
       '19,000 kms', nan, '54,000 kms', '13,000 kms', '38,200 kms',
       '50,000 kms', '13,500 kms', '3,600 kms', '45,863 kms',
       '60,500 kms', '12,500 kms', '18,000 kms', '13,349 kms',
       '29,000 kms', '44,000 kms', '42,000 kms', '14,000 kms',
       '49,000 kms', '36,200 kms', '51,000 kms', '1,04,000 kms',
       '33,333 kms', '33,600 kms', '5,600 kms', '7,500 kms', '26,000 kms',
       '24,330 kms', '65,480 kms', '28,028 kms', '2,00,000 kms',
       '99,000 kms', '2,800 kms', '21,000 kms', '11,000 kms',
       '66,000 kms', '3,000 kms', '7,000 kms', '38,500 kms', '37,200 kms',
       '43,200 kms', '24,800 kms', '45,872 kms', '40,000 kms',
       '11,400 kms', '97,200 kms', '52,000 kms', '31,000 kms',
       '1,75,430 kms', '37,000 kms', '65,000 kms', '3,350 kms',
       '75,000 kms', '62,000 kms', '73,000 kms', '2,200 kms',
       '54,870 kms', '34,580 kms', '97,000 kms', '60 kms', '80,200 kms',
       '3,200 kms', '0,000 kms', '5,000 kms', '588 kms', '71,200 kms',
       '1,75,400 kms', '9,300 kms', '56,758 kms', '10,000 kms',
       '56,450 kms', '56,000 kms', '32,700 kms', '9,000 kms', '73 kms',
       '1,60,000 kms', '84,000 kms', '58,559 kms', '57,000 kms',
       '1,70,000 kms', '80,000 kms', '6,821 kms', '23,000 kms',
       '34,000 kms', '1,800 kms', '4,00,000 kms', '48,000 kms',
       '90,000 kms', '12,000 kms', '69,900 kms', '1,66,000 kms',
       '122 kms', '0 kms', '24,000 kms', '36,469 kms', '7,800 kms',
       '24,695 kms', '15,141 kms', '59,910 kms', '1,00,000 kms',
       '4,500 kms', '1,29,000 kms', '300 kms', '1,31,000 kms',
       '1,11,111 kms', '59,466 kms', '25,500 kms', '44,005 kms',
       '2,110 kms', '43,222 kms', '1,00,200 kms', '65 kms',
       '1,40,000 kms', '1,03,553 kms', '58,000 kms', '1,20,000 kms',
       '49,800 kms', '100 kms', '81,876 kms', '6,020 kms', '55,700 kms',
       '18,500 kms', '1,80,000 kms', '53,000 kms', '35,500 kms',
       '22,134 kms', '1,000 kms', '8,500 kms', '87,000 kms', '6,000 kms',
       '15,574 kms', '8,000 kms', '55,800 kms', '56,400 kms',
       '72,160 kms', '11,500 kms', '1,33,000 kms', '2,000 kms',
       '88,000 kms', '65,422 kms', '1,17,000 kms', '1,50,000 kms',
       '10,750 kms', '6,800 kms', '5 kms', '9,800 kms', '57,923 kms',
       '30,201 kms', '6,200 kms', '37,518 kms', '24,652 kms', '383 kms',
       '95,000 kms', '3,528 kms', '52,500 kms', '47,900 kms',
       '52,800 kms', '1,95,000 kms', '48,008 kms', '48,247 kms',
       '9,400 kms', '64,000 kms', '2,137 kms', '10,544 kms', '49,500 kms',
       '1,47,000 kms', '90,001 kms', '48,006 kms', '74,000 kms',
       '85,000 kms', '29,500 kms', '39,700 kms', '67,000 kms',
       '19,336 kms', '60,105 kms', '45,933 kms', '1,02,563 kms',
       '28,600 kms', '41,800 kms', '1,16,000 kms', '42,590 kms',
       '7,400 kms', '54,500 kms', '76,000 kms', '00 kms', '11,523 kms',
       '38,600 kms', '95,500 kms', '37,458 kms', '85,960 kms',
       '12,516 kms', '30,600 kms', '2,550 kms', '62,500 kms',
       '69,000 kms', '28,400 kms', '68,485 kms', '3,500 kms',
       '85,455 kms', '63,000 kms', '1,600 kms', '77,000 kms',
       '26,500 kms', '2,875 kms', '13,900 kms', '1,500 kms', '2,450 kms',
       '1,625 kms', '33,400 kms', '60,123 kms', '38,900 kms',
       '1,37,495 kms', '91,200 kms', '1,46,000 kms', '1,00,800 kms',
       '2,100 kms', '2,500 kms', '1,32,000 kms', 'Petrol'], dtype=object)

In [7]:
car["company"].unique()

array(['Hyundai', 'Mahindra', 'Maruti', 'Ford', 'Skoda', 'Audi', 'Toyota',
       'Renault', 'Honda', 'Datsun', 'Mitsubishi', 'Tata', 'Volkswagen',
       'I', 'Chevrolet', 'Mini', 'BMW', 'Nissan', 'Hindustan', 'Fiat',
       'Commercial', 'MARUTI', 'Force', 'Mercedes', 'Land', 'Yamaha',
       'selling', 'URJENT', 'Swift', 'Used', 'Jaguar', 'Jeep', 'tata',
       'Sale', 'very', 'Volvo', 'i', '2012', 'Well', 'all', '7', '9',
       'scratch', 'urgent', 'sell', 'TATA', 'Any', 'Tara'], dtype=object)

In [8]:
car["fuel_type"].unique()

array(['Petrol', 'Diesel', nan, 'LPG'], dtype=object)

In [9]:
car["year"].unique()

array(['2007', '2006', '2018', '2014', '2015', '2012', '2013', '2016',
       '2010', '2017', '2008', '2011', '2019', '2009', '2005', '2000',
       '...', '150k', 'TOUR', '2003', 'r 15', '2004', 'Zest', '/-Rs',
       'sale', '1995', 'ara)', '2002', 'SELL', '2001', 'tion', 'odel',
       '2 bs', 'arry', 'Eon', 'o...', 'ture', 'emi', 'car', 'able', 'no.',
       'd...', 'SALE', 'digo', 'sell', 'd Ex', 'n...', 'e...', 'D...',
       ', Ac', 'go .', 'k...', 'o c4', 'zire', 'cent', 'Sumo', 'cab',
       't xe', 'EV2', 'r...', 'zest'], dtype=object)

In [10]:
car["year"].str.isnumeric()

0       True
1       True
2       True
3       True
4       True
       ...
887    False
888     True
889     True
890     True
891     True
Name: year, Length: 892, dtype: bool

In [11]:
car = car[car["year"].str.isnumeric()]
car["year"] = car["year"].astype(int)

In [12]:
car.head()

,name,company,year,Price,kms_driven,fuel_type
0,Hyundai Santro Xing XO eRLX Euro III,Hyundai,2007,"80,000","45,000 kms",Petrol
1,Mahindra Jeep CL550 MDI,Mahindra,2006,"4,25,000",40 kms,Diesel
2,Maruti Suzuki Alto 800 Vxi,Maruti,2018,Ask For Price,"22,000 kms",Petrol
3,Hyundai Grand i10 Magna 1.2 Kappa VTVT,Hyundai,2014,"3,25,000","28,000 kms",Petrol
4,Ford EcoSport Titanium 1.5L TDCi,Ford,2014,"5,75,000","36,000 kms",Diesel

In [13]:
car["year"].unique()

array([2007, 2006, 2018, 2014, 2015, 2012, 2013, 2016, 2010, 2017, 2008,
       2011, 2019, 2009, 2005, 2000, 2003, 2004, 1995, 2002, 2001])

In [14]:
car.info()

<class 'pandas.core.frame.DataFrame'>
Index: 842 entries, 0 to 891
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        842 non-null    object
 1   company     842 non-null    object
 2   year        842 non-null    int64
 3   Price       842 non-null    object
 4   kms_driven  840 non-null    object
 5   fuel_type   837 non-null    object
dtypes: int64(1), object(5)
memory usage: 46.0+ KB

In [15]:
car = car[car["Price"] != "Ask For Price"]
car["Price"] = car["Price"].str.replace(",", "", regex=False)
car["Price"] = car["Price"].astype(int)
car["Price"].head()

0     80000
1    425000
3    325000
4    575000
6    175000
Name: Price, dtype: int64

In [16]:
car.info()

<class 'pandas.core.frame.DataFrame'>
Index: 819 entries, 0 to 891
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        819 non-null    object
 1   company     819 non-null    object
 2   year        819 non-null    int64
 3   Price       819 non-null    int64
 4   kms_driven  819 non-null    object
 5   fuel_type   816 non-null    object
dtypes: int64(2), object(4)
memory usage: 44.8+ KB

In [17]:
car["kms_driven"]

0        45,000 kms
1            40 kms
3        28,000 kms
4        36,000 kms
6        41,000 kms
           ...
886    1,32,000 kms
888      27,000 kms
889      40,000 kms
890          Petrol
891          Petrol
Name: kms_driven, Length: 819, dtype: object

In [18]:
car["kms_driven"] = car["kms_driven"].str.split(' ').str.get(0).str.replace(",","", regex = False)
car["kms_driven"] = pd.to_numeric(car["kms_driven"], errors = 'coerce')
car = car.dropna(subset=['kms_driven'], how = 'all')
car["kms_driven"] = car["kms_driven"].astype(int)

In [19]:
car["kms_driven"]

0       45000
1          40
3       28000
4       36000
6       41000
        ...
883     50000
885     30000
886    132000
888     27000
889     40000
Name: kms_driven, Length: 817, dtype: int64

In [20]:
car.info()

<class 'pandas.core.frame.DataFrame'>
Index: 817 entries, 0 to 889
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        817 non-null    object
 1   company     817 non-null    object
 2   year        817 non-null    int64
 3   Price       817 non-null    int64
 4   kms_driven  817 non-null    int64
 5   fuel_type   816 non-null    object
dtypes: int64(3), object(3)
memory usage: 44.7+ KB

In [21]:
car.head()

,name,company,year,Price,kms_driven,fuel_type
0,Hyundai Santro Xing XO eRLX Euro III,Hyundai,2007,80000,45000,Petrol
1,Mahindra Jeep CL550 MDI,Mahindra,2006,425000,40,Diesel
3,Hyundai Grand i10 Magna 1.2 Kappa VTVT,Hyundai,2014,325000,28000,Petrol
4,Ford EcoSport Titanium 1.5L TDCi,Ford,2014,575000,36000,Diesel
6,Ford Figo,Ford,2012,175000,41000,Diesel

In [22]:
car[car["fuel_type"].isna()]

               name company  year   Price  kms_driven fuel_type
132  Toyota Corolla  Toyota  2009  275000       26000       NaN

In [23]:
car = car[~car["fuel_type"].isna()]

In [24]:
car.isnull().sum()

name          0
company       0
year          0
Price         0
kms_driven    0
fuel_type     0
dtype: int64

In [25]:
car.head()

,name,company,year,Price,kms_driven,fuel_type
0,Hyundai Santro Xing XO eRLX Euro III,Hyundai,2007,80000,45000,Petrol
1,Mahindra Jeep CL550 MDI,Mahindra,2006,425000,40,Diesel
3,Hyundai Grand i10 Magna 1.2 Kappa VTVT,Hyundai,2014,325000,28000,Petrol
4,Ford EcoSport Titanium 1.5L TDCi,Ford,2014,575000,36000,Diesel
6,Ford Figo,Ford,2012,175000,41000,Diesel

In [26]:
car["name"] = car["name"].str.split(" ").str.slice(0,3).str.join(" ")
car["name"]

0         Hyundai Santro Xing
1         Mahindra Jeep CL550
3           Hyundai Grand i10
4      Ford EcoSport Titanium
6                   Ford Figo
                ...
883        Maruti Suzuki Ritz
885            Tata Indica V2
886      Toyota Corolla Altis
888              Tata Zest XM
889        Mahindra Quanto C8
Name: name, Length: 816, dtype: object

In [27]:
car = car.reset_index(drop = True)
car.head()

                     name   company  year   Price  kms_driven fuel_type
0     Hyundai Santro Xing   Hyundai  2007   80000       45000    Petrol
1     Mahindra Jeep CL550  Mahindra  2006  425000          40    Diesel
2       Hyundai Grand i10   Hyundai  2014  325000       28000    Petrol
3  Ford EcoSport Titanium      Ford  2014  575000       36000    Diesel
4               Ford Figo      Ford  2012  175000       41000    Diesel

In [28]:
car.describe().round(3)

           year        Price  kms_driven
count   816.000      816.000     816.000
mean   2012.445   411717.615   46275.532
std       4.003   475184.422   34297.428
min    1995.000    30000.000       0.000
25%    2010.000   175000.000   27000.000
50%    2013.000   299999.000   41000.000
75%    2015.000   491250.000   56818.500
max    2019.000  8500003.000  400000.000

In [29]:
car = car[car["Price"] < 6e6]
car.reset_index(drop = True)
car.head()

                     name   company  year   Price  kms_driven fuel_type
0     Hyundai Santro Xing   Hyundai  2007   80000       45000    Petrol
1     Mahindra Jeep CL550  Mahindra  2006  425000          40    Diesel
2       Hyundai Grand i10   Hyundai  2014  325000       28000    Petrol
3  Ford EcoSport Titanium      Ford  2014  575000       36000    Diesel
4               Ford Figo      Ford  2012  175000       41000    Diesel

In [30]:
car.to_csv("Cleaned Car data.csv")

In [31]:
X = car.drop(["Price"], axis = 1)
Y = car["Price"]

In [32]:
X

                       name   company  year  kms_driven fuel_type
0       Hyundai Santro Xing   Hyundai  2007       45000    Petrol
1       Mahindra Jeep CL550  Mahindra  2006          40    Diesel
2         Hyundai Grand i10   Hyundai  2014       28000    Petrol
3    Ford EcoSport Titanium      Ford  2014       36000    Diesel
4                 Ford Figo      Ford  2012       41000    Diesel
..                      ...       ...   ...         ...       ...
811      Maruti Suzuki Ritz    Maruti  2011       50000    Petrol
812          Tata Indica V2      Tata  2009       30000    Diesel
813    Toyota Corolla Altis    Toyota  2009      132000    Petrol
814            Tata Zest XM      Tata  2018       27000    Diesel
815      Mahindra Quanto C8  Mahindra  2013       40000    Diesel

[815 rows x 5 columns]

In [33]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.2, random_state = 42)
X_train.shape, X_test.shape

((652, 5), (163, 5))

In [34]:
from sklearn.compose import make_column_transformer
from sklearn.impute import SimpleImputer
from sklearn.pipeline import Pipeline
column_transform = make_column_transformer((OneHotEncoder(sparse_output = True, handle_unknown='ignore'), ["name","company","fuel_type"]),
                                           remainder = "passthrough")

In [35]:
from sklearn.linear_model import LinearRegression
pipe = Pipeline(steps = [
    ("column_transformer", column_transform),
    ("linear_regression", LinearRegression())
])
pipe.fit(X_train, Y_train)

Pipeline(steps=[('column_transformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(handle_unknown='ignore'),
                                                  ['name', 'company',
                                                   'fuel_type'])])),
                ('linear_regression', LinearRegression())])

In [36]:
Y_pred = pipe.predict(X_test)
Y_pred

array([  30440.35738657,  397737.91469386,  401652.32190272,
        477784.22518418,  396981.19980691,  450392.35444909,
         98593.00172313,  243717.89993121,  459563.39801189,
        199790.94345015,  382218.89248398,  328578.08285185,
        691210.82161498,  192192.11619774, 2036027.84651541,
        365034.49867972,  612807.6084374 ,  349745.00139212,
        943114.85502959,  249105.61993209,  370986.03970408,
        121728.68282225,  458812.65150424,  603203.00582312,
        359266.99225536,  355283.5277335 ,  458706.78300229,
        732880.87168746,  368355.95545727,  605483.67984141,
        692224.32940031,  407499.81877648,  174984.50318595,
        128485.40139112,  577955.39548885,  193108.81797225,
        382392.37002616,  634667.88360833,  486751.65430399,
        657033.50606208,  254861.31532914,  469299.57007867,
        -50631.22996122,  532637.22377499,  301305.72116377,
        252316.89689256,  412468.25894988, -124008.63057721,
        127349.23895247,  266891.13588475,  227507.64194553,
       1023107.33547731,  405298.8808985 ,  467452.32369139,
       1532635.88291335,  621321.5430368 ,  748862.22198027,
        264238.58000982,  491850.19872538,  297331.39384925,
        284008.78387186,  417687.73323391,  181554.58662907,
        -15230.00778913,  492622.91012998,  597568.08103923,
        293960.63894269,  345743.08530112,  846016.22021826,
        228764.68600124,  461282.47523656,  413009.71719869,
        125817.21930084,  194022.74040332,  562288.71421251,
        217346.60543182,  284008.78387186,  662776.86157395,
        288669.93031561,   74588.80384146,  649774.21864833,
        430511.25897276,  526336.13308956,  299917.20426231,
        736538.10964307,  303359.06655985,  547462.2886688 ,
        628091.83812519,  299917.20426231,  631471.50694893,
         63840.42674961,  732880.87168746,  213819.29236364,
        280776.09247535,  252316.89689256,  448968.31064019,
        433903.94235738,  410157.38613876,  219830.80256018,
        621029.42831083,  262118.52705044,  620916.29742721,
        217788.78103615,  308914.59071647,  321244.44982378,
        407443.01402092,  640023.48047356,  327856.35542566,
       2036027.84651541, 2036215.53314233,   33051.04228162,
        535032.4363208 ,  277546.34352046,  507825.2120158 ,
        604561.54091075,  526556.38534726,  375188.90441336,
        401236.44160086,  191620.02756081,  327129.67768341,
        278841.00261824,  307189.20162795,  480810.24434615,
        334379.46767397,  387784.99771374,  497356.314573  ,
        402444.69927641,  427692.87143267,  505642.48422898,
        615845.75551453,  588401.74907833,  371835.48822708,
        412891.63299616,  517840.17021208,  349638.12722953,
        274004.69740451,  526631.13194491, -103179.18907034,
         81084.00899033,  189928.1088685 ,   53853.10102238,
        682874.16381121,  701382.80706076,  493189.99950866,
         36627.76509829,  275121.9062327 ,  231671.36793213,
        398567.88488263,  615631.39746777,  747134.55929109,
        116012.56997933,  420008.37007939,  582590.20778455,
        285666.94428501,  606479.4663531 ,  253200.7854204 ,
        217203.1897834 ,  630390.03687485,  304060.99165329,
        317527.62813744,  306285.91851718,  159057.56057005,
        124838.86692135])

In [47]:
r2_score(Y_test, Y_pred)

0.557188510163458

In [53]:
scores = []
for i in range(100):
  X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.2, random_state = i)
  lr = LinearRegression()
  pipe = Pipeline(steps = [("Column transform", column_transform), ("Linear Regression", lr)])
  pipe.fit(X_train, Y_train)
  Y_pred = pipe.predict(X_test)
  print(f"{round(r2_score(Y_test, Y_pred), 3)} : {i}")
  scores.append(r2_score(Y_test, Y_pred))

0.659 : 0
0.479 : 1
0.621 : 2
0.537 : 3
0.819 : 4
0.663 : 5
0.628 : 6
0.63 : 7
0.672 : 8
0.57 : 9
0.648 : 10
0.609 : 11
0.457 : 12
0.667 : 13
0.562 : 14
0.71 : 15
0.488 : 16
0.666 : 17
0.609 : 18
0.64 : 19
0.641 : 20
0.621 : 21
0.708 : 22
0.64 : 23
0.549 : 24
0.499 : 25
0.673 : 26
0.704 : 27
0.725 : 28
0.601 : 29
0.625 : 30
0.624 : 31
0.765 : 32
0.785 : 33
0.562 : 34
0.685 : 35
0.57 : 36
0.617 : 37
0.539 : 38
0.716 : 39
0.328 : 40
0.673 : 41
0.573 : 42
0.667 : 43
0.66 : 44
0.698 : 45
0.526 : 46
0.588 : 47
0.754 : 48
0.686 : 49
0.504 : 50
0.596 : 51
0.633 : 52
0.664 : 53
0.58 : 54
0.715 : 55
0.717 : 56
0.72 : 57
0.761 : 58
0.484 : 59
0.585 : 60
0.524 : 61
0.433 : 62
0.619 : 63
0.607 : 64
0.635 : 65
0.481 : 66
0.659 : 67
0.621 : 68
0.735 : 69
0.7 : 70
0.719 : 71
0.58 : 72
0.684 : 73
0.552 : 74
0.584 : 75
0.449 : 76
0.605 : 77
0.574 : 78
0.646 : 79
0.589 : 80
0.594 : 81
0.677 : 82
0.745 : 83
0.639 : 84
0.636 : 85
0.695 : 86
0.537 : 87
0.603 : 88
0.638 : 89
0.681 : 90
0.584 : 91
0.688 : 92
0.495 : 93
0.633 : 94
0.659 : 95
0.638 : 96
0.686 : 97
0.675 : 98
0.597 : 99

In [54]:
scores[np.argmax(scores)]

0.8189013287303666

In [55]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.2, random_state = np.argmax(scores))
lr = LinearRegression()
pipe = Pipeline(steps = [("Column transform", column_transform), ("Linear Regression", lr)])
pipe.fit(X_train, Y_train)
Y_pred = pipe.predict(X_test)
round(r2_score(Y_test, Y_pred), 3)

0.819

In [56]:
import pickle
pickle.dump(pipe, open("LinearRegressionModel.pkl", "wb"))

In [58]:
pipe.predict(pd.DataFrame([['Maruki Suzuki Swift', 'Maruti', 2020, 100, 'Petrol']], columns=["name", "company",	"year",	"kms_driven",	"fuel_type"]))

array([609680.57443371])